<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <header>
        <h1 class="text-lg font-medium">Welcome to My Django App</h1>
        {% include "navbar.html" %}
    </header>
    <main>
        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 My Django App. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>